<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

    <title>Email Verification</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Account/signup.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" href="~/Content/AdminPanel/css/responsive.css">
</head>
<body>
    <!-- Forgot Password Page -->
    <div class="main-wrap">
        <div class="container-login" style="background-image: url('../Content/images/banner-with-overlay.jpg');">

            <div class="wrap-email">

                <form class="email-verification-form">

                    <div class="email-verification-heading">
                        <h4>Email Verification</h4>
                        <p>Dear<b style="color:#6555a5"> @ViewBag.UserName,</b></p>

                    </div>
                    <p>
                        We have generated a new password for you
                    </p>
                    <p>
                        Password : <b style="color:#6555a5">@ViewBag.Password</b>
                    </p>

                    <p>
                        Regards, <br />
                        Notes Marketplace
                    </p>
                </form>

            </div>
        </div>
    </div>
    <!-- Forgot Password Page end-->
    <!-- JQuery -->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Custom Js-->
    <script src="~/Content/AdminPanel/js/script.js"></script>

</body>
</html>


