@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Styles.Render("~/content/css")
</head>
<body>
    <div class="container">
        <h1 class="alert alert-danger text-center" style="margin-top:20px;display:block;font-size:22px">@Model.Exception.Message</h1>

        <a class="btn btn-lg btn-block btn-outline-secondary" href="@Url.Action("Home", "Home")">Home</a>
    </div>
</body>
</html>


