
@{
    ViewBag.Title = "BuyerRequest";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<!-- Content -->
<section id="content">
    <div class="container">

        <div class="row heading">
            <div class="col-md-6 col-sm-6 p-0">
                <h3 class="heading-1">Buyer Requests</h3>
            </div>

            <div class="col-md-6 col-sm-6 text-right search-1 p-0">
                <img src="~/Content/images/search-icon.png" class="form-control-feedback" alt="search-icon">
                <input class="input-search" type="search" placeholder="Search">
                <a class="btn btn-general">Search</a>
            </div>
        </div>

        <div class="row">
            <div class="table-top table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Sr No.</th>
                            <th scope="col">Note Title</th>
                            <th scope="col">Category</th>
                            <th scope="col">Buyer</th>
                            <th scope="col">Phone no.</th>
                            <th scope="col">Sell Type</th>
                            <th scope="col">Price</th>
                            <th scope="col">Download Date/Time</th>
                            <th class="text-center" scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center" scope="row">1</td>
                            <td class="td-blue">Data Science</td>
                            <td>Science</td>
                            <td>testing123@gmail.com</td>
                            <td>+91 9874563527</td>
                            <td>Paid</td>
                            <td>$250</td>
                            <td>27 Nov 2020, 11:24:34</td>
                            <td class="text-center">
                                <img src="~/Content/images/eye.png" alt="eye-image">
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Content/images/dots.png" alt="dot-image">
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Yes, I Received</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">2</td>
                            <td class="td-blue">Accounts</td>
                            <td>Commere</td>
                            <td>testing123@gmail.com</td>
                            <td>+91 9874563527</td>
                            <td>Free</td>
                            <td>$0</td>
                            <td>27 Nov 2020, 11:24:34</td>
                            <td class="text-center">
                                <img src="~/Content/images/eye.png" alt="eye-image">
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Content/images/dots.png" alt="dot-image">
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Yes, I Received</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">3</td>
                            <td class="td-blue">Social Studies</td>
                            <td>Social</td>
                            <td>testing123@gmail.com</td>
                            <td>+91 9874563527</td>
                            <td>Free</td>
                            <td>$0</td>
                            <td>27 Nov 2020, 11:24:34</td>
                            <td class="text-center">
                                <img src="~/Content/images/eye.png" alt="eye-image">
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Content/images/dots.png" alt="dot-image">
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Yes, I Received</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">4</td>
                            <td class="td-blue">AI</td>
                            <td>IT</td>
                            <td>testing123@gmail.com</td>
                            <td>+91 9874563527</td>
                            <td>Paid</td>
                            <td>$158</td>
                            <td>27 Nov 2020, 11:24:34</td>
                            <td class="text-center">
                                <img src="~/Content/images/eye.png" alt="eye-image">
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Content/images/dots.png" alt="dot-image">
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Yes, I Received</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">5</td>
                            <td class="td-blue">Lorem ipsum</td>
                            <td>Lorem</td>
                            <td>testing123@gmail.com</td>
                            <td>+91 9874563527</td>
                            <td>Free</td>
                            <td>$0</td>
                            <td>27 Nov 2020, 11:24:34</td>
                            <td class="text-center">
                                <img src="~/Content/images/eye.png" alt="eye-image">
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Content/images/dots.png" alt="dot-image">
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Yes, I Received</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">6</td>
                            <td class="td-blue">Data Science</td>
                            <td>Science</td>
                            <td>testing123@gmail.com</td>
                            <td>+91 9874563527</td>
                            <td>Paid</td>
                            <td>$555</td>
                            <td>27 Nov 2020, 11:24:34</td>
                            <td class="text-center">
                                <img src="~/Content/images/eye.png" alt="eye-image">
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Content/images/dots.png" alt="dot-image">
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Yes, I Received</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">7</td>
                            <td class="td-blue">Accounts</td>
                            <td>Commere</td>
                            <td>testing123@gmail.com</td>
                            <td>+91 9874563527</td>
                            <td>Free</td>
                            <td>$0</td>
                            <td>27 Nov 2020, 11:24:34</td>
                            <td class="text-center">
                                <img src="~/Content/images/eye.png" alt="eye-image">
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Content/images/dots.png" alt="dot-image">
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Yes, I Received</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">8</td>
                            <td class="td-blue">Social Studies</td>
                            <td>Social</td>
                            <td>testing123@gmail.com</td>
                            <td>+91 9874563527</td>
                            <td>Free</td>
                            <td>$0</td>
                            <td>27 Nov 2020, 11:24:34</td>
                            <td class="text-center">
                                <img src="~/Content/images/eye.png" alt="eye-image">
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Content/images/dots.png" alt="dot-image">
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Yes, I Received</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">9</td>
                            <td class="td-blue">AI</td>
                            <td>IT</td>
                            <td>testing123@gmail.com</td>
                            <td>+91 9874563527</td>
                            <td>Paid</td>
                            <td>$250</td>
                            <td>27 Nov 2020, 11:24:34</td>
                            <td class="text-center">
                                <img src="~/Content/images/eye.png" alt="eye-image">
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Content/images/dots.png" alt="dot-image">
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Yes, I Received</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">10</td>
                            <td class="td-blue">Lorem ipsum</td>
                            <td>Lorem</td>
                            <td>testing123@gmail.com</td>
                            <td>+91 9874563527</td>
                            <td>Free</td>
                            <td>$115</td>
                            <td>27 Nov 2020, 11:24:34</td>
                            <td class="text-center">
                                <img src="~/Content/images/eye.png" alt="eye-image">
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Content/images/dots.png" alt="dot-image">
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Yes, I Received</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12 num">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <img src="~/Content/images/left-arrow.png" alt="left-arrow">
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <img src="~/Content/images/right-arrow.png" alt="right-arrow">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- End Content -->
