/* =======================================================================
                            By Default
======================================================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

section {
    overflow: hidden;
}

#loginScreen {
    background: url("../../images/banner-with-overlay.jpg") no-repeat center;
    background-size: cover;
    height: 100vh !important;
}

/* =======================================================================
                            Content Box
======================================================================= */
.content-box {
    padding: 60px 0;
}

/* =======================================================================
                            Navigation
======================================================================= */
.navbar .row {
    width: 100%;
}

.navbar-brand img {
    width: 100%;
    z-index: 1;
}

.navbar {
    padding: 20px 10px;
    transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -o-transition: all 500ms linear;
}

ul.navbar-nav > li > a,
.nav-link-custom {
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

ul.navbar-nav > li:last-child {
    background-color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

ul.navbar-nav > li:last-child a {
    color: #6255a5;
}

#navbarSupportedContent .nav-link {
    padding: 8px 15px;
}

ul.navbar-nav > li > a.active {
    color: white;
    font-weight: 700;
}

#mobile-nav .nav-link {
    margin: 0 10px !important;
    padding: 0 10px !important;
}

.avatar-header {
    margin: 3px 20px 0 12px;
}

.dropdown-item:hover {
    background-color: #6255a5;
}

.dropdown-item.active {
    background-color: #6255a5;
}

.white-nav-top ul.navbar-nav > li > a:hover {
    color: #6255a5;
    border-bottom: 3px solid #6255a5;
}

/* white Navigation */
.white-nav-top {
    background: white;
    box-shadow: 0 8px 6px -9px #999999;
    z-index: 2;
}

.white-nav-top ul.navbar-nav > li > a,
.nav-link-custom {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
}

.white-nav-top ul.navbar-nav > li > a.active {
    color: #6255a5;
    font-weight: 700;
    border-bottom: 3px solid #6255a5;
}

.white-nav-top ul.navbar-nav > li:last-child {
    background-color: #6255a5;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.white-nav-top ul.navbar-nav > li:last-child a {
    color: white;
}

.btn-logout {
    text-transform: uppercase;
    color: #6255a5;
    font-weight: 700;
}

/* =======================================================================
                            Dashboard
======================================================================= */
/* head */
#content {
    margin-top: 150px;
    margin-bottom: 60px;
}

.heading {
    margin: 10px 0;
}

.heading-1 {
    color: #6255a5;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
}

.heading-2 {
    color: #6255a5;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.input-search {
    height: 35px;
    border-radius: 3px;
    margin-right: 10px;
    border: 1px solid #d1d1d1;
}

.search-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inner-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

[type="search"]::placeholder {
    padding-left: 40px;
}

.form-control-feedback {
    position: relative;
    left: 30px;
}

/* =======================================================================
                            Note Details
======================================================================= */
#note-detail .content-box {
    padding: 150px 0 60px 0;
}

.note-detail-img img {
    width: 100%;
    height: 300px;
}

.note-detail-img h4,
.note-info h4 {
    color: #6255a5;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 24px;
}

.note-info h4 {
    font-size: 34px;
}

#note-detail .note-detail-img,
#note-detail .note-info {
    height: 100%;
}

#note-detail .note-info {
    padding: 0;
}

#note-detail .note-info h6 {
    margin-bottom: 20px;
}

#note-detail .note-info p {
    color: #333333;
    font-weight: 400;
}

.note-info {
    margin-top: 50px;
}

/* note download button */
#note-detail .note-info .btn-primary {
    background-color: #6255a5;
    border-color: #6255a5;
}

/* note detail section right */
ul.note-full-detail {
    list-style: none;
}

.note-details {
    min-height: 270px;
    padding: 35px 5px 5px 115px;
}

ul.note-full-detail li > span {
    float: right;
    color: #6255a5;
}

ul.note-full-detail li {
    color: #333333;
    padding-bottom: 9px;
    font-weight: 400;
}

ul.note-full-detail li:last-child {
    color: #d53434;
    font-size: 12px;
    padding-top: 5px;
}

/* note preview left side */
#note-detail-preview .note-preview iframe {
    width: 100%;
    height: 450px;
}

.note-preview h4,
#customer-review h4 {
    color: #6255a5;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
}

.note-preview,
#customer-review {
    min-height: 450px;
}

/* note preview right side (customer preview) */
#customer-review .reviews img {
    width: 60px;
    border-radius: 50%;
    height: 60px;
}

#customer-review .reviews ul {
    list-style: none;
}

#customer-review ul > li > h6 {
    font-weight: 600;
    color: #575757;
    margin-bottom: 10px;
}

#customer-review ul > li > p {
    color: #333333;
    font-weight: 400;
    margin-bottom: 0;
}

#customer-review .reviews {
    border: 1px solid #d1d1d1;
    padding: 25px;
    height: 450px;
}

#customer-review .reviews hr {
    margin: 15px 0;
}

/* =======================================================================
                            Box
======================================================================= */
#top-logo {
    margin-top: 20px;
}

.logo {
    margin-bottom: 30px;
    align-self: center;
    position: relative;
    top: 10px;
}

#login-box {
    padding-top: 20px;
}

section {
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
}

.box {
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
}

.box form {
    padding: 40px;
}

.box h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-bottom: 20px;
}

.box p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
    margin-bottom: 45px;
}

.box label {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin-bottom: 10px;
}

.box button {
    color: #fff;
    width: 480px;
    height: 50px;
    border-radius: 3px;
    background-color: #6255a5;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px !important;
}

.box a {
    color: #6255a5;
}


/* =======================================================================
                            Change Password
======================================================================= */
#old-password {
    border: 1px solid #6255a5;
    width: 480px;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 30px;
}

#new-password {
    border: 1px solid #6255a5;
    width: 480px;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 30px;
}

#confirm-password {
    border: 1px solid #6255a5;
    width: 480px;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.label__custom {
    margin: 0 0 0 20px !important;
    display: flex;
    align-items: center;
}

.div__custom {
    display: flex !important;
    align-items: center;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
}

#login-btn {
    text-transform: uppercase;
}

/* =======================================================================
                            Email Verify
======================================================================= */

#email-verify {
    padding: 30px;
}

.table-logo {
    padding-bottom: 50px;
}

.table-email {
    margin-top: 25%;
}

.table-email tr:hover {
    box-shadow: none;
}

#email-verify h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    color: #6255a5;
    margin-bottom: 30px;
}

#email-verify p:nth-child(0) {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
    margin-bottom: 20px;
}

#email-verify p:nth-child(1) {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

#email-verify-btn {
    color: #fff;
    width: 540px;
    height: 50px;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    background-color: #6255a5;
}

/* =======================================================================
                            Login
======================================================================= */
#email,
#first-name-1 {
    border: 1px solid #6255a5;
    width: 480px;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 30px;
}

#password {
    border: 1px solid #ff5e5e;
    width: 480px;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 10px;
}

#forgot-password {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #6255a5;
    cursor: pointer;
}

#passwordHelp {
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: #FF3636 !important;
}

#checkbox {
    position: relative;
    border: 1px solid #d1d1d1;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

#signup-box {
    margin-bottom: 20px;
}

.box i {
    margin-left: -30px;
    cursor: pointer;
    color: black;
}

#success-inform {
    padding: 0;
    margin-bottom: 0;
}

#success-inform p {
    color: rgb(14, 185, 14);
}

/* =======================================================================
                            Form
======================================================================= */
.form-group {
    margin-bottom: 30px !important;
}

.input-group-prepend {
    margin-right: 10px;
}

label {
    margin-bottom: 10px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

textarea {
    border: 1px solid #d1d1d1;
    height: 238px !important;
    border-radius: 3px;
}

#exampleInputRemarks {
    border: 1px solid #d1d1d1;
    height: 140px !important;
    border-radius: 3px;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
}

/* Dropdown */
.search-dropdown {
    padding: 0 10px;
}

[id="dropdownCountry"],
[id="dropdownGender"] {
    background: url("../../images/arrow-down.png") 98% no-repeat;
    appearance: none;
}

.customDropDown-Multiple {
    padding-right: 60px !important;
    background: url("../../images/arrow-down.png") 85% no-repeat;
    appearance: none;
}

/* Calendar */
[id="example-date"],
[type="date"] {
    background: #fff url("../../images/calendar.png") 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* =======================================================================
                            Table
======================================================================= */
.table-top {
    margin: 10px 15px 0 15px;
}

.table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 18px;
}

table thead {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
}

table tr:hover {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
}

.td-blue {
    color: #6255a5;
}

.selected-num {
    background-color: #6255a5;
    border-radius: 50%;
    font-size: 15px;
    width: 10px;
    height: 10px;
}

.td-1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #333333;
}

.td-3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    color: #6255a5;
}

.td-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #6255a5;
}

.td-space {
    padding: 0 20px;
}

.vertical-line {
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 210px;
}

.td-action {
    white-space: nowrap;
}

/* =======================================================================
                            Card
======================================================================= */
.card {
    height: 151px;
    border: 1px solid #d1d1d1;
}

.card-count {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    color: #6255a5;
}

.my-earning {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    color: #6255a5;
}

.count-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}

/* =======================================================================
                           Button
======================================================================= */
.btn-general {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    background-color: #6255a5;
    color: #ffffff;
    border-radius: 3px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

#btnSubmit {
    padding: 13px 10px;
    background-color: #6255a5;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.btn-action {
    width: 112px;
    height: 40px;
    border-radius: 3px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.btn-approve {
    background-color: #28a745;
}

.btn-reject {
    background-color: #ff3636;
}

.btn-interview {
    background-color: #cccccc;
}


.btn-modal {
    width: 112px;
    height: 35px;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
}

.btn-cancel {
    background-color: #cccccc;
    margin-left: 10px;
}

/* =======================================================================
                            Modal
======================================================================= */
.modal-header,
.modal-footer {
    border: none;
}

.modal-header {
    padding: 15px 50px 20px 50px;
}

.modal-body {
    padding: 0 50px;
}

.modal-footer {
    justify-content: flex-start;
    padding: 30px 50px;
}

/* =======================================================================
                            Pagination
======================================================================= */
ul.pagination > li > a.active {
    background-color: #6255a5;
    border-radius: 50%;
    color: #ffffff !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

ul.pagination > li > a {
    border: none;
    margin: 20px 4px;
    color: black;
    font-size: 10px;
    font-weight: 400;
    background: none;
}

#content .num a {
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* =======================================================================
                            Footer
======================================================================= */
.foot-text p {
    margin: 40px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #333333;
}


/* =======================================================================
                            rating
======================================================================= */
.rate {
    float: left;
    height: 20px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
