@model NotesMarketPlace.Models.ForgotPasswordModel
<!DOCTYPE html>

<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

    <title>Login</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Account/signup.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" href="~/Content/AdminPanel/css/responsive.css">
</head>
<body>

    <!-- Forgot Page -->
    <div class="main-wrap">
        <div class="container-login" style="background-image: url('../../Content/images/banner-with-overlay.jpg');">

            <div class="wrap-login">

                <span class="login-form-title">
                    <img src="~/Content/images/top-logo.png" alt="Logo">
                </span>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "login-form" }))
                {

                    <div class="heading">
                        <h4 class="text-center">Forgot Password?</h4>
                        <p class="text-center">Enter your email to reset your password</p>

                        <small id="signup-successfully" class="form-text text-center" style="color: rgb(14, 185, 14);">
                            @*<img src="~/Content/images/Success-Green.png" alt="success-image" style="height: 20px;width: 20px;">*@
                            @ViewBag.ForgotPassword
                        </small>
                    </div>
                    <div class="form-group m-b-30">
                        @Html.LabelFor(model => model.EmailID, "Email")
                        @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", @id = "login-email", @placeholder = "Enter Email" } })
                        @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" class="btn btn-primary btn-lg btn-block" id="submit-btn" value="SUBMIT" style="background-color: #6255a5; border-color: #6255a5;" />

                }
            </div>
        </div>
    </div>
    <!-- Forgot Page End-->
    <!-- JQuery -->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Custom Js-->
    <script src="~/Content/AdminPanel/js/script.js"></script>

</body>
</html>
